body {
  background-color: #2b2927;
  display: flex;
}

.app-container {
  width: 84vw;
  align-self: center;
  margin: 0 8vw;
}

#particles-js {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-color: #2b2927;
}


@media (min-width: 900px) {
  .app-container {
    width: 50vw;
    margin: 0 25vw;
  }
}