.segmented-control {
  display: flex;
  background-color: #2b2927;
  border: 2px solid white;
  border-radius: 12px;
  overflow: hidden;
  padding: 5px;
  margin: 40px 0;
}

.sc-button {
  padding: 5px 10px;
  border: none;
  border-radius: 8px;
  width: 50%;
}

p {
  color: white;
}

/* expCard */
.expCard-container {
  display: flex;
  margin-bottom: 26px;
}

.expCard-container img {
  height: 54px;
  width: 54px;
  border-radius: 10px;
  margin-right: 20px;
  margin-top: 4px;
}

.exp-info h3, .exp-info h4, .exp-info p {
  margin: 2px 0;
}
  