.segmented-control {
  display: flex;
  border: 2px solid white;
  border-radius: 12px;
  overflow: hidden;
  padding: 5px
}

.sc-button {
  padding: 5px 10px;
  border: none;
  border-radius: 8px;
  width: 50%;
}
  