* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  overflow-x: hidden;
}

body {
  margin: 0;
  width: 100%;
  min-height: 100vh;
  position: relative;
}

#root {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

h1 {
  font-family: "DM Sans", sans-serif;
  font-size: 3.5rem;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
  color: white;
}

h2 {
  font-family: "DM Sans", sans-serif;
  font-size: 8rem;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
  color: #52658F;
}

h3 {
  font-family: "DM Sans", sans-serif;
  font-size: 3rem;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
  color: #333A56;
}

h4{
  font-family: "DM Sans", sans-serif;
  font-size: 1.3rem;
  font-optical-sizing: auto;
  font-style: normal;
  color: white;
}

p {
  font-family: "DM Sans", sans-serif;
  font-size: 1.8rem;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  color: #333A56
}

.bdr {
  border: 2px red dashed;
}

.bdc {
  border: 2px cyan dashed;
}

.bdy {
  border: 2px yellow dashed;
}
