.projects-container {
    margin-bottom: 26px;
    padding: 0;
}

.projects-container h2 {
    margin: 20px 0;
}

.project-card-container {
    padding: 0;
}

.project-card  {
    border: 2px white solid;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px 20px;
    gap: 10px;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    margin-bottom: 20px;
}

.project-card:hover {
    transform: translateY(-5px);
    background-color: #3c3a39;
}

.project-card img {
    width: 100%;
    border-radius: 10px;
    border: 1px solid lightgrey;
}

.project-card-description {
    font-weight:normal;
}

.proj-skill-container {
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
}

.proj-skill {
    border: 1px white solid;
    border-radius: 8px;
    padding: 2px 8px;
    
}

.proj-skill:hover {
    background-color: #474442;
}

.proj-skill p {
    margin: 0;
    font-size: 1.1rem;
}